body{
    background-color: rgb(233, 166, 218);
}
h1{
    font-size: 50px;
    line-height: 64px;
}
body{
    width: 100%;
     background-color:rgb(255, 194, 243);
}
.logo{
     position: absolute;
}
.logo p{
display: flex;
float: right;
margin-top: 30px ;
margin-left: 20px;
font-size: 30px;
font-weight:bold;
 font-family: 'Stupids', sans-serif;
                                                
}
.logo img{
    width: 100px;
    height: 100px;
      border-radius: 50%;}
      .topnav {
         list-style: none;
 box-shadow: #e3009f;
  display: flex;
  justify-content: end;
 z-index: 999;
  padding: 50px 100px ;
 top: 0;
 left: 0;
 position: sticky;
}

/* Style the links inside the navigation bar */
.topnav li a{
   
    padding: 0px 20px;
    color: #070707;
    text-decoration: none;
  font-size: 17px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b340a0;
  color: rgb(245, 241, 244);
  transition:0.3s ease ;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #e483c7;
  color: white;
}
.topnav li a.cart-icon{
  position: relative;
}
.cart-value{
  position: absolute;
  font-size: .85rem;
  top: 3px;
  right: 8px;
  width: 20px;
  aspect-ratio: 1;
  background: #b340a0;
  border-radius: 100vw;
  color: #050404;
  text-align: center;
  line-height: 20px;
  position: absolute;

}


.product1{
    text-align: center;
    

}
.product1 .pro-contener{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  flex-wrap: wrap;
}
.product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border:1px solid #cce7d0 ;
     border-radius: 25px;
     cursor: pointer;
     box-shadow:20px 20px 30px rgba(0,0,0,0.02) ;
     margin:15px 0 ;
     transition: 0.2s ease;
     position: relative;;
     background-color: rgb(174, 62, 152);
}
.product1 .pro:hover{
     box-shadow:20px 20px 30px rgba(0,0,0,0.06) ;
}
.product1 .pro img{
    width: 100%;
    border-radius: 20px;
    }
.product1 .pro .das{
    text-align: start;
    padding: 10px 0;
    font-size: 20px;
    
   
}
.product1 .pro .das span{
    color:rgb(239, 234, 234);
    box-shadow:20px 20px 30px rgba(11, 11, 11, 0.06) ;

}
.product1 .pro .das h5{
    
    color: #1a1a1a;
    font-size: 35px;
     margin-top:10px;

}
.product1 .pro .das p{
     margin-top:0%;
     font-size: 17px;
font-weight: 20px;
    
}
.product1 .pro .das .star i{
    font-size: 20px;
    top: 0px;
    padding: 3px;
    color:rgb(248, 248, 12) ;
}
.product1 .pro .das h4{
  font-size: 15px;
  font-weight: 700;
  color: rgb(51, 241, 238);
}
.product1 .pro .fa-duotone{
    width:40px ;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background: 50px;
    background-color: #e8f6ea;
    font-weight:50px;
    color: rgb(24, 132, 132);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}