@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   ;
}
h1{
    font-size: 50px;
    line-height: 64px;
}
body{
    width: 100%;
     background-color:rgb(255, 194, 243);
}
.logo{
     position: absolute;
}
.logo p{
display: flex;
float: right;
margin-top: 30px ;
margin-left: 20px;
font-size: 30px;
font-weight:bold;
 font-family: 'Stupids', sans-serif;
                                                
}
.logo img{
    width: 100px;
    height: 100px;
      border-radius: 50%;}
      .topnav {
         list-style: none;
 box-shadow: #e3009f;
  display: flex;
  justify-content: end;
 z-index: 999;
  padding: 50px 100px ;
 top: 0;
 left: 0;
 position: sticky;
}

/* Style the links inside the navigation bar */
.topnav li a{
   
    padding: 0px 20px;
    color: #070707;
    text-decoration: none;
  font-size: 17px;


}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b340a0;
  color: rgb(245, 241, 244);
  transition:0.3s ease ;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #e483c7;
  color: white;
}
.topnav li a.cart-icon{
  position: relative;
}
.cart-value{
  position: absolute;
  font-size: .85rem;
  top: 3px;
  right: 8px;
  width: 20px;
  aspect-ratio: 1;
  background: #b340a0;
  border-radius: 100vw;
  color: #050404;
  text-align: center;
  line-height: 20px;
  position: absolute;

}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background:rgb(255, 194, 243);

  display:contents;
  color: black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img{
   width:500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #d140c0;
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    width: auto;
  height:auto; 
   color: #050404;
  font-size: 25px;
  font-weight: 20px;
  padding:10px 14px;
  position: absolute;
  margin-top: 150px;
 text-align:left;
}
.text h1{
    color: #e3009f;
     font-family: 'Gionstone', sans-serif;
    }
button {
    background-color: #e3009f;
   border-radius:20px;
    color: #060506;
    border: 0;
    font-size: 20px;
    font-weight:30px ;
    padding: 10px 20px;
    cursor: pointer;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Responsive Design */

@media only screen and (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
      
     